.flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
.flex-6{
  flex: 6;
}
.flex-7{
  flex: 7;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.block{
  display: block;
}

.vertical-divider{
  height: 30px;
  width: 1px;
  background-color: white;
  opacity: 0.5;
}
.banner-1{
  width: 100%;
  background-image: url(../asset/png_desktop/herobanner-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg1{
  width: 100%;
  height: 100%;
  /* background-image: url(../asset/png_desktop/herobanner-2.png);
  background-repeat: no-repeat;
  background-size: cover; */
}
.bg1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.more-info{
  position: absolute;
  right: 20px;
  bottom: 15px;
  align-items: center;
}
.click{
  background: rgb(198,8,15);
  background: linear-gradient(0deg, rgba(198,8,15,1) 0%, rgba(234,30,45,1) 100%);
  color: white !important;
  font-size: 30px;
  font-weight: 600;
  padding: 0 20px;
  font-style: italic;
  margin-left: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
a{
  text-decoration: none !important;
}
.title-1{
  font-family: font_medium_65regular;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.5;
  font-style: italic;
  color: white;
  background-color: #AFA590;
  text-decoration: none;
  width: fit-content;
  padding: 0px 20px;
  margin-top: 20px;
}
.title-2{
  font-family: font_medium_65regular;
  font-weight: 600;
  font-size: 3.8vw;
  font-style: italic;
  color: white;
  background-color: #517281;
  text-decoration: none;
  width: fit-content;
  padding: 0px 20px;
  line-height: 1.3;
  margin-top: 20px;
}
.small{
  font-size: 25px;
  color: white;
  font-weight: 500;
  font-style: italic;
}
.banner-2{
  background-color: #172968;
  padding: 10px;
}
.banner-2 img{
  width: 100%;
}
.banner-3{
  padding: 0;
  margin: 0;
}
.banner-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner-4{
  width: 100%;
  padding: 0px 0;
  background-image: url(../asset/png_desktop/hand-bar.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.banner-4 img{
  width: 150px;
}
.banner-4 h2{
  font-family: font_medium_65regular;
  font-size: 3.5vw;
  color: #233A73;
  margin-top: 0;
  margin-left: 20px;
}
.hidden-desktop{
  display: none;
}
.warning{
  background-color: #172968;
  color:white;
  padding: 20px;
}
.warning h4{
  color: white;
  font-size: 28px;
  margin-top: 0;
}
.warning p{
  font-size: 20px;
  margin: 0;
}
.contact .f1{
  background-color: #E6E6E6;
  color: #172968;
  padding: 30px 20px;
  font-size: 24px;
  border-right: 7px solid #172968;
  font-weight: 600;
}
.contact .f2{
  color: #172968;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 600;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 40px solid #172968;
  position: relative;
}
.arrow-right::after {
  content: '';
  width: 0; 
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 40px solid #E6E6E6;
  position: absolute;
  right: 7px;
  top: -45px;
}

@media (max-width: 767.98px) {
  .hidden-mobile{
    display: none;
  }
  .hidden-desktop{
    display: flex;
  }
  .banner-1{
    width: 100%;
    background-image: url(../asset/png_mobile/herobanner-1.png);
    padding: 15% 0;
  }
  .title-1{
    font-size: 4.5vw;
    padding: 5px 10px;
    margin-top: 6px;
  }
  .title-2{
    font-size: 6.5vw;
    padding: 5px 10px;
    margin-top: 6px;
  }
  .small{
    font-size: 12px;
  }
  .click{
    font-size: 22px;
    margin-left: 10px;
  }
  .banner-3{
    display: block;
  }
  .banner-3 img{
    display: block;
  }
  .banner-4{
    background-image: url(../asset/png_mobile/hand-bar.png);
  }
  .banner-4 h2{
    font-size: 5vw;
    line-height: 0.8;
  }
  .banner-4 img{
    width: 80px;
  }
  .warning{
    padding: 10px;
  }
  .warning h4{
    font-size: 18px;
  }
  .warning p{
    font-size: 14px;
    margin: 0;
  }
  .contact .f1{
    font-size: 14px;
    padding: 18px 2px 18px 5px;
    border-right: 5px solid #172968;
  }
  .contact .f2{
    font-size: 14px;
    padding: 10px 5px;
  }
  .arrow-right {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #172968;
  }
  .arrow-right::after {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #E6E6E6;
    right: 5px;
    top: -35px;
  }
}
